# Xcode
.DS_Store
build/
DerivedData/
*/DerivedData/*
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
*.xcuserdata/
*.xcuserstate
*.xcuserdatad/

# SwiftPM
.swiftpm/
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# General
*.zip
*.tmp
*.log

